.input:focus {
}

.input {
    position: relative;
    top:50px;
    left: 17px;
    width: 240px;
    
    border: 1px solid #D1D1D1;
    border-radius: 5px;
}

.inputWrapper {
}

.superInput {
}

.errorInput {border: 1px solid #CC1439;
    border-radius: 5px;
    
}

.errorInput:focus {
}

.error {
    color: #CC1439;
    
}
