.input:focus {
}

.input {
    
    margin-left: 17px;
    margin-top: 25px;

    border: 1px solid #D1D1D1;
    border-radius: 5px;
}

.inputWrapper {
}

.superInput {
}

.errorInput {border: 1px solid #CC1439;
    border-radius: 5px;
    
}

.errorInput:focus {
}

.error {
    color: #CC1439;
    
}
