.buttonsContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 1.3rem;
    margin-left: 12px;
    margin-top: 15px;
}

.clock {

}

.watch {
    display: flex;
    margin-left: 17px;
}

.watch strong {

}

.more {
    display: flex;
    margin-left: 17px;
}



