.friendMessage {

}

.friendImageAndText {

}

.friendImageAndText img {
    border-radius: 500px; /* Радиус скругления */
    border: 3px solid green; /* Параметры рамки */
    box-shadow: 0 0 7px #666; /* Параметры тени */
    height: 100px;
  width: 100px;
}

.friendText {

}

.friendText:after {

}

.friendName {

}

.friendMessageText {

}

.friendTime {

}
