.greetingForm {
    
}

.inputAndButtonContainer {
    display: flex;
}

.error {
    color: red;
}

.input {
    display: flex;
width: 372px;
height: 36px;
justify-content: center;
align-items: center;
flex-shrink: 0;
}

.input:focus {
}

.errorInput {
    
}

.button {
    background: #0066CC;
opacity: 0.5;
border-radius: 3px;


}

.button:focus {
}

.button:active {
}

.button:disabled {
}

.text {
}

.greeting {
}
