.burgerMenuIcon {
    /* width: 50px;
    text-align: left; */
    float: left;
    clear: right;
    
}

.header {
    /* background-color: white;
    
    box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Параметры тени */
    /* padding: 10px; */ 
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
    
}


.header h1 {
    /* text-align: right; */
    float: right;
    width: 10em;
    max-width: 100%;
    min-height: 2em;
    
}